<style>

body {
            font: 400 15px calibri, sans-serif;
            line-height: 1.8;
            background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        }

        .container-fluid {
            padding: 60px 50px;
        }

        .bg-grey {
             background-color: #698899;
        }

		.navbar{
			background-color: #3E515B; 
            font-family: calibri;
            padding-bottom: 5px;
            padding-right: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

		.navbar li a{
			color: #fff !important;
		}

		.navbar-default .navbar-toggle {
			border-color: transparent;
			color: #fff !important;
		}

		.navdiv{
            margin-left: 40px;
		}

        .navbar-header {
            display: flex;
            align-items: center;
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

		.profile-register {
			position: absolute;
			top: 10px;
			right: 5px; /* Adjust right position */
                        color: white;
		}

		.profile-register a {
			text-decoration: none;
			color: white;
			padding: 6px 6px; /* Adjust padding as needed */
			margin-left: 5px; /* Adjust margin between links */
			font-size: 20px; /* Increase the font size */
		}

		.profile-register a i{
			margin-right: 10px;
			color: white;
		}

		/* Change color on hover */
		.profile-register a:hover ,
		.profile-register a:hover i{
			color: grey;
		}
  
		/* Change color on click */
		.profile-register a:active {
			color: grey;
		}

.logo a {
    font-size: 35px; 
    font-weight: 600; 
    color: white;
    display: flex;
    align-items: center;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    color: white;
}

li{
    list-style: none; 
    display: inline-block;
}

li a{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}

button{
    background-color: white;
    margin-left: -7px; 
    border-radius: 10px; 
    padding: -7px; 
    width: 80px;
}

button a{
    color: white; 
    font-weight: bold; 
    font-size: 15px;
}

.profile-icon {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"], input[type="password"] {
     width: 100%;
     padding: 10px;
     margin: 3.5px 0;
     box-sizing: border-box;
}

.btn {
     background-color: #4caf50;
     color: white;
     padding: 10px;
     border: none;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
     border-radius: 5px;
}

.btn:hover {
     opacity: 1;
}

.forgot-password {
     text-align: right;
     margin-top: 10px;
}

.or-divider {
     margin: 15px 0;
     font-weight: bold;
                   
}

.slideshow-container {
     max-width: 650px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 70%;
     box-sizing: border-box;
     padding-top: -30px;
     margin: auto;
     margin-left: 0;
     margin-right: 0;
}

.mySlides {
     display: block;
     height: 50%;
}

.mySlides img {
     height: 80%;
     object-fit: cover;
     margin-left: 30px;
}

img {
     margin-left: 30px;
     border-radius: 20px;
}

.dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
}

.category-wrapper {
     position: relative;
}

.category-wrapper:hover {
      display: block;
}

.flex-container {
     display: flex;
     flex-direction: column;
     padding-left: 20px;
}

.sidebar {
     width: 45%;
     padding-top: 4px;
     background-color: white;
     box-sizing: border-box;
     float: left;
     border: 2px solid #ccc;
     border-radius: 8px;
     margin-left: 30px;
     margin-top: 30px;
     background-color: #78A9C6;
}

.category-container, .vendor-container, .search-container {
      margin-bottom: 20px;
}

.search-container {
      padding-left: 10px;
}

h2 {
   margin-bottom: 20px;
}

h1 {
   padding-top: 40px;
   margin-left: 20px;
   padding-bottom: 40px;
}

ul {
   list-style: none;
   padding: 0;
}

select {
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   margin-bottom: 10px;
}

.active {
      background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -5px;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
   left: 30px;
   border-radius: 3px 0 0 3px;
}

.multi-slideshows {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.slideshow1, .slideshow2, .slideshow3 { 
     max-width: 25%;
     position: relative;
     display: inline-block;
     height: 80%;
     box-sizing: border-box;
     padding-top: 100px;
     margin-left: 30px;
     margin-right: 50px;
}

.video-container {
     position: relative;
     max-width: 90%;
     padding-bottom: 56.25%;
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
}

.photo-container {
      position: relative;
      flex: 1;
      max-width: 100%;
      padding-bottom: 20%;
      margin-right: 20px;
}

.photo-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 130%;
      margin-left: 70px;
}

label {
      display: block;
      position: absolute;
      bottom: -110px;
      left: 60%;
      transform: translateX(-50%);
      z-index: 1;
      font-size: 20px;
}

    
/* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) { 
      .text {font-size: 11px}
} 

      
/* New styles for the footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3E515B;
    color: white;
    text-align: center;
    padding: 10px 0;
}

</style>